<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http::/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.TagMapper">

<select id="getBnoByTagName" resultType="Integer">
	select bno from tag where tagName = #{tagName}
</select>

<select id="readTagByBno" resultType="org.zerock.domain.TagVO">
	select * from tag where bno = #{bno} order by tagName acs
</select>

<insert id="insertTag">
	insert into tag(bno, tagName) values(#{bno}, #{tagName})
</insert>

<delete id="deleteTag">
	delete from tag where bno = #{bno}
</delete>

<!-- 배열로 받아서 반복실행 -->
<update id="updateTag">
	update tag set bno=#{bno}, tagName=#{tagName} where bno=#{bno}
</update>

</mapper>
